*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header > img{
    display: block;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    background-size: cover;
    z-index: -1;
    position: absolute;

}

header > h1{
    display: inline block;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin-top: 1em;
    padding: 0.3em 0.6em;

}

body{
    text-align: center;
    color: gray;
}

table{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: .5em 0;
    margin-left: 25%;
    margin-right: 25%;
    border: 50px solid black;
}

tr, td{
    background-color: white;
    padding: 3em;
    opacity: 90%;
    border-spacing: 0 10em;
    margin: 5px;
    float: c;
}

